<h2 style="margin: 25px;">Ingresar un nuevo producto</h2>
<form action="/productos/" method="POST" style="margin: 25px;">
    <label>Nombre del producto:</label>
    <input type="text" name="title">
    <label>Precio:</label>
    <input type="number" name="price">
    <label>URL imagen:</label>
    <input type="text" name="img">
    <button class="btn btn-success">Enviar</button>
</form>
<div style="margin: 25px;">
    <a class="btn btn-primary" href="/productos" role="button">Ver lista de productos</a>
</div>